<!--logo-->
<script>
    avalon.ready(function(){
      var vm= avalon.define({
          $id:"bannerVm",
          curPage:"",
          pop:"",
          router:function(str){
              vm.pop=str;
          },
          init:function(){
              var page=window.location.pathname;
              if(page=='/oa/device.html'){vm.curPage="device"}
              if(page=='/oa/admin.html'){vm.curPage="admin"}
              if(page=='/oa/goods.html'){vm.curPage="goods"}
              if(page=='/oa/video.html'){vm.curPage="video"}
              if(page=='/oa/statement.html'){vm.curPage="statement"}
          }
        })
        vm.init();

    })

</script>



<div ms-important="bannerVm" class="baby_top">
    <div class="baby_top_logo">
        <a href="javascript:location.reload()">
            <img src="img/logo.png" title="">
        </a>
        <div class="baby_top_p">
            <p class="baby_top_p_1">伴小宝</p>
            <p class="baby_top_p_2">幼儿安全健康管理</p>
        </div>
    </div>

    <!--导航-->
    <div class="baby_top_nav">
        <a href="/oa/device.html" ms-class="baby_top_list:curPage=='device' "   >
            <img src="img/device.png" title="">
            <p>设备管理</p>
        </a>

        <a href="/oa/admin.html"   ms-class="baby_top_list:curPage=='admin' "   >
            <img src="img/num.png" title="">
            <p>用户管理</p>
        </a>

        <a href="/oa/goods.html"    ms-class="baby_top_list:curPage=='goods' "   >
            <img src="img/health.png" title="">
            <p>商城管理</p>
        </a>

        <a href="/oa/video.html"   ms-class="baby_top_list:curPage=='video' "   >
            <img src="img/attentop.png" title="">
            <p>讲堂管理</p>
        </a>

        <a href="/oa/statement.html"   ms-class="baby_top_list:curPage=='statement' "  >
            <img src="img/statement.png" title="">
            <p>报表管理</p>
        </a>
    </div>

    <!--右侧附加信息-->
    <div class="baby_top_rig">
        <div class="baby_top_rig_a">
            <a class="baby_a_border">
                <img src="img/help.png" title="">
                <span>帮助</span>
            </a>
            <a class="baby_a_border">关于</a>
            <a onclick="loginOut();">退出</a>
        </div>

        <div class="baby_top_rig_info">
            <div class="baby_top_info_pad">
                <p class="baby_info_user">龙园长</p>
                |
                <strong><a id="example" style="color: #999;cursor:pointer" title="个人设置" ms-click="router('set')">个人设置 </a></strong>
                <!--<div class="baby_info_num">消息<span class="baby_info_num_bg"></span></div>-->
                <!--    <img src="img/select.png" class="baby_info_select"> -->
            </div>
        </div>
    </div>
</div>

<!-- 个人设置 -->
<div id="LoginBox"  >
    <form method="post"  id="fromtId">
        <div class="row1">
            修改账号基本信息<a href="javascript:void(0)" title="关闭窗口" class="close_btn" id="closeBtn">×</a>
        </div>
            <div class="user-edit"  ms-class="block:pop=='device'>">
                <div class="user-main" >
                    <table class="table_1" cellpadding="0" cellspacing="0">
                        <tr>
                            <th width="40%">昵称：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/>
                            </td>
                        </tr>
                        <tr>
                            <th width="40%">性别：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/>
                            </td>
                        </tr>
                        <tr>
                            <th width="40%">生日：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/></td>
                        </tr>
                        <tr>
                            <th width="40%">个性签名：</th>
                            <td width="60%"><input type="text" name="" ms-duplex-string=""/>
                            </td>
                        </tr>
                    </table>
                    <div class="user-btn">
                        <input type="button" value="保存" class="oper" ms-click="save"/>
                        <input type="button" value="返回" class="oper" ms-click="close"/>
                    </div>
                </div>

            </div>
    </form>
</div>



<!--<script type="text/javascript">-->


    <!--function loginOut() {//退出-->
        <!--if (confirm("确定要退出登录吗？") != "0") {-->
            <!--window.location.href = "http://banxiaobao.com:8015/gbb/admin/loginOut.do";-->
        <!--}-->
    <!--}-->

    <!--function clickTop(id) {//点击头部菜单-->
        <!--var roleId = $("#roleId").val();-->
        <!--if (id == "deviceId") {-->
            <!--window.location.href = "http://banxiaobao.com:8015/gbb/machine/machineList.do";-->
            <!--/* 	$("#deviceLeft_Id").show().siblings("div").hide(); */-->
        <!--} else if (id == "teachId") {-->
            <!--if (roleId == -1 || roleId == 1 || roleId == 4) {-->
                <!--window.location.href = "http://banxiaobao.com:8015/gbb/school/schoolList.do";-->
            <!--} else {-->
                <!--window.location.href = "http://banxiaobao.com:8015/gbb/attendance/attendanceList.do";-->
            <!--}-->
            <!--/* 	$("#teachLeft_Id").show().siblings("div").hide(); */-->
        <!--} else if (id == "adminId") {-->
            <!--window.location.href = "http://banxiaobao.com:8015/gbb/admin/adminList.do";-->
        <!--} else if (id == "healthId") {-->
            <!--window.location.href = "http://banxiaobao.com:8015/gbb/sports/tosportsList.do";-->
            <!--/* $("#healthLeft_Id").show().siblings("div").hide(); */-->
        <!--} else if (id == "attenId") {-->
            <!--window.location.href = "http://banxiaobao.com:8015/gbb/attendance/attendanceTeacherInit.do";-->
        <!--}-->
    <!--}-->

    <!--/*个人设置*/-->
    <!--$(function ($) {-->
        <!--//弹出登录-->
        <!--$("#example").hover(function () {-->
            <!--$(this).stop().animate({-->
                <!--opacity: '1'-->
            <!--}, 600);-->
        <!--}, function () {-->
            <!--$(this).stop().animate({-->
                <!--opacity: '0.6'-->
            <!--}, 1000);-->
        <!--}).on('click', function () {-->
            <!--$("body").append("<div id='mask'></div>");-->
            <!--$("#mask").addClass("mask").fadeIn("slow");-->
            <!--$("#LoginBox").fadeIn("slow");-->
            <!--$.ajax({-->
                <!--url: "admin/findBySelfAdmin.do",// 跳转到 action-->
                <!--data: {},-->
                <!--type: 'post',-->
                <!--cache: false,-->
                <!--success: function (data) {-->
                    <!--if (data == 'loseSession') {-->
                        <!--location.href = "http://banxiaobao.com:8015/gbb/admin/loginInit.do";-->
                        <!--return;-->
                    <!--}-->
                    <!--var json = eval("(" + data + ")");// 解析json-->
                    <!--$("#schoolname").val(json.admin.schoolname);-->
                    <!--var isaid = json.admin.isaid;-->
                    <!--if (isaid == 1) {-->
                        <!--$("#rolename").val("园长助理");-->
                    <!--} else {-->
                        <!--$("#rolename").val(json.admin.roleName);-->
                    <!--}-->
                    <!--$("#ROLEID").val(json.admin.roleid);-->
                    <!--$("#name").val(json.admin.name);-->
                    <!--$("#adminId").val(json.admin.id);-->
                <!--},-->
                <!--error: function () {-->
                    <!--alert("系统错误！");-->
                <!--}-->
            <!--});-->
        <!--});-->
        <!--//-->
        <!--//按钮的透明度-->
        <!--$("#loginbtn").hover(function () {-->
            <!--$(this).stop().animate({-->
                <!--opacity: '1'-->
            <!--}, 600);-->
        <!--}, function () {-->
            <!--$(this).stop().animate({-->
                <!--opacity: '0.8'-->
            <!--}, 1000);-->
        <!--});-->
        <!--//文本框不允许为空-&#45;&#45;按钮触发-->
        <!--$("#loginbtn").click(function () {-->
            <!--var name = $("#name").val().trim();-->
            <!--if (isNull(name)) {-->
                <!--alertMsg("姓名不能为空!", 0);-->
                <!--return;-->
            <!--}-->
            <!--var rawpassword = $("#rawpassword").val().trim();-->
            <!--var password = $("#password").val().trim();-->
            <!--var ispassword = $("#ispassword").val().trim();-->
            <!--if (!isNull(password) || !isNull(ispassword)) {-->
                <!--if (isNull(rawpassword)) {-->
                    <!--alertMsg("原始密码不能为空!", 0);-->
                    <!--return;-->
                <!--}-->
                <!--if (password.length < 6 || password.length > 16) {-->
                    <!--alertMsg("密码长度错误!", 0);-->
                    <!--return;-->
                <!--}-->
            <!--}-->
            <!--if (!isNull(rawpassword)) {-->
                <!--if (isNull(password) || isNull(ispassword)) {-->
                    <!--alertMsg("密码不能为空", 0);-->
                    <!--return;-->
                <!--}-->
            <!--}-->
            <!--if (password != ispassword) {-->
                <!--alertMsg("两次密码输入不一致!", 0);-->
                <!--return;-->
            <!--}-->
            <!--$("#fromtId").ajaxSubmit({-->
                <!--type: "post",-->
                <!--success: function (data) {-->
                    <!--if (data == 'loseSession') {-->
                        <!--location.href = "http://banxiaobao.com:8015/gbb/admin/loginInit.do";-->
                        <!--return;-->
                    <!--}-->
                    <!--var json = eval("(" + data + ")");// 解析json-->
                    <!--var code = json.code;-->
                    <!--if (code == 200) {-->
                        <!--alertMsg("操作成功", 1);-->
                        <!--if (!isNull(password)) {-->
                            <!--location.href = "http://banxiaobao.com:8015/gbb/admin/loginInit.do";-->
                        <!--} else {-->
                            <!--$("#LoginBox").fadeOut("fast");-->
                            <!--$("#mask").css({display: 'none'});-->
                        <!--}-->

                    <!--} else {-->
                        <!--alertMsg("操作失败", 2);-->
                    <!--}-->
                <!--}-->
            <!--});-->
        <!--});-->
        <!--//关闭-->
        <!--$(".close_btn").hover(function () {-->
            <!--$(this).css({color: 'black'})-->
        <!--}, function () {-->
            <!--$(this).css({color: '#999'})-->
        <!--}).on('click', function () {-->
            <!--$("#LoginBox").fadeOut("fast");-->
            <!--$("#mask").css({display: 'none'});-->
        <!--});-->
    <!--});-->

<!--</script>-->



